 
* {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #292929 !important;
  color: #fff !important;
}

#mainContainer {
  margin-top: 150px;
  text-align: center;
}

 
h1 {
  font-size: 23px;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}

.form .control {
  margin: 0 0 24px;
}


.form .control input:hover,
.form .control input:focus {
  outline: none;
  border: 0;
}

.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

 
#success {
  padding-top: 30px;
  opacity: 0.5;
  font-size: 12px;
}

#u1 {
  padding-top: 30px;
  opacity: 0.5;
  font-size: 12px;
}

#u2 {
  padding-top: 30px;
  opacity: 0.5;
  font-size: 12px;
}